*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
}



button:hover{
    background-color: rgb(250,106,123);
    color: black;
    font-weight: bold;
    font-size: 23px;
    transition: 1s;
    border:none ;
}

button{
    border-radius: 4px;
    margin-top: 20px;
    height: 40px;
    width:80px;
    margin-left: 200px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 7, 47);
    border:white;
    box-shadow: 1px 1px 1px 2px rgb(250,106,123);
    

}
.login-btn{
    text-decoration: none;
    color:white;
}
.login-btn:hover{
    color: rgb(248, 7, 47);
    
}

.f-awsm{
    margin-left: 399px;
    margin-top: -20px ;
    border: 1px solid black;
    border-radius: 25%;
    padding-left: 3px;
    padding-right: 3px;
    color: black;
    
}
.cross{
    text-decoration: none;
}

.login-form{
    width: 300px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* color: #fff; */
}

.login-formA{
    /* border:3px solid red; */
    padding: 30px;
    /* background-color: whitesmoke; */
    /* border-radius: 14px; */
    border: solid rgb(250, 106, 123);   
    background-color:rgb(241, 248, 250);
    box-shadow: rgb(250, 23, 35) 8px 8px 5px;


}

.login-form h1{
  font-size: 40px;
  text-align: center;
  /* text-transform: uppercase; */
  margin: 40px 0;
}

.login-form p{
    font-size: 20px;
    margin:15px 0;
}

.login-form input
{
    font-size: 16px; 
    width: 90%; 
    padding: 10px 10px;
    /* border:2px solid black; */
    outline: none;
    border-radius: 5px;
    
}

.login-form {
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0;
    margin-left: 80px;
    padding: 10px 15px;
    width: 35%;
    border: none;
    border-radius: 5px;
    /* border: 0; */
    border: solid rgb(250, 106, 123);


}

.login-form button:hover{
    transition: .3s;
    cursor: pointer;
    color: rgb(248, 7, 47);
    background-color: white;
    
}