*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
<<<<<<< HEAD
    
    background-color: rgb(252, 164, 178);

   /* background-image: url(../images/bg2.jfif);
    background-repeat: no-repeat;
    background-size: cover;*/
=======
    /* background-color: rgba(58, 52, 52, 0.329); */
    background-color:ghostwhite;
    background: url('../images/bg2.jfif') no-repeat;
    background-size: cover;
>>>>>>> f2005a1700bf2856a77d41516397759a53ea85b8
}

.login-btn{
    border: rgb(250,106,123) 2px solid;
    text-decoration: none;
    font-size: 20px;
    padding: 2px 10px 2px 10px;

}

button:hover{
    background-color: rgb(250,106,123);
    color: black;
    font-weight: bold;
    font-size: 23px;
    transition: 1s;
}

button{
    border: none;
    margin-top: 10px;
}

.f-awsm{
    margin-left: 399px;
    margin-top: -20px ;
    border: 1px solid black;
    border-radius: 25%;
    padding-left: 3px;
    padding-right: 3px;
    color: black;
}

.login-form{
    width: 300px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* color: #fff; */
}

.login-formA{
    /* border:3px solid red; */
    padding: 30px;
    /* background-color: whitesmoke; */
    /* border-radius: 14px; */
    border: solid rgb(250, 106, 123);   
    background-color:rgb(241, 248, 250);
    box-shadow: rgb(250, 23, 35) 8px 8px 5px;


}

.login-form h1{
  font-size: 40px;
  text-align: center;
  /* text-transform: uppercase; */
  margin: 40px 0;
}

.login-form p{
    font-size: 20px;
    margin:15px 0;
}

.login-form input
{
    font-size: 16px; 
    width: 90%; 
    padding: 10px 10px;
    /* border:2px solid black; */
    outline: none;
    border-radius: 5px;
    
}

.login-form {
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0;
    margin-left: 80px;
    padding: 10px 15px;
    width: 35%;
    border: none;
    border-radius: 5px;
    /* border: 0; */
    border: solid rgb(250, 106, 123);


}

.login-form button:hover{
    transition: .3s;
    cursor: pointer;
    background-color:darkcyan;
}