*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    /* background-color: rgba(58, 52, 52, 0.329); */
    background-color:ghostwhite;
}

.login-form{
    width: 300px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* color: #fff; */
}

.login-formA{
    /* border:3px solid red; */
    padding: 30px;
    /* background-color: whitesmoke; */
    /* border-radius: 14px; */
    border: solid rgb(157, 157, 252);
    box-shadow: darkcyan 8px 8px 5px;
    background-color:rgb(241, 248, 250);

}

.login-form h1{
  font-size: 40px;
  text-align: center;
  /* text-transform: uppercase; */
  margin: 40px 0;
}

.login-form p{
    font-size: 20px;
    margin:15px 0;
}

.login-form input
{
    font-size: 16px; 
    width: 90%; 
    padding: 10px 10px;
    /* border:2px solid black; */
    outline: none;
    border-radius: 5px;
    
}

.login-form button{
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0;
    margin-left: 80px;
    padding: 10px 15px;
    width: 35%;
    border: none;
    border-radius: 5px;
    /* border: 0; */

}

.login-form button:hover{
    transition: .3s;
    cursor: pointer;
    background-color:darkcyan;
}