.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    margin-top: 10px;
    
}

.footer-text{
    font-size: 30px;
}

.logo{
    margin-bottom: 10px;
    margin-left: 30px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
}

.left{
    width: 20%;
    height: 100%;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    display: flex;
    justify-content: center;
    align-content: center;
}

.middle{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    border-radius:10px;
}

.right{
    width: 20%;
    height: 100%;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}
 
.right-1{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin-left: 100px;
    margin-top:16px;
}

.log-sign{
    color: white;
    margin-left: 0px;
    font-size: 20px;
    border-radius: 30px;
    width: 70px;
}

.header-bg-clr{
    background-color:  #45cafb ;
    width:100%;
    height:100px;
    border-radius:8px;
    
}
 

.header{
    height: 60px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    margin-top: px;
    background-color:  #08AEEA 0%;
    border-radius: 10px;
}
.search{
    height: 30px;
    width: 40%;
    margin-left: 290px;
    border-radius: 20px;
    background-color: rgb(241, 248, 250);
    border-color:1px solid rgb(9, 175, 184);
    display:inline; 
}
.sign-up{
    text-decoration: none;
    padding:4px;
    padding-right: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #018abb; 
}
.sign-up:hover{
    color:rgb(131, 251, 101);
    transition: 0.2s;
}

.log-sign{
    height: 30px;
    border: none;
    color: white;
    margin-left: 0px;
    font-size: 18px;
    background-color: rgb(131, 251, 101);
    border: 8px solid rgb(3, 5, 102);
    
}
.log-sign:hover{
    background-color: #018abb;
}
.right-header{
    margin-left: 190px;
    margin-top: 10px;
}
.nav{
    display: flex;
    justify-content:space-evenly;
}
.nav-btn-click{
    text-decoration: none;
    border: none;
    color: black;
}
.nav-btn-click:hover{
    text-decoration: underline;
}
button{
    border: none;
    background-color: aqua;
    font-size: 20px;
}

.container-home{
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.border-home{
    box-shadow:1px 1px 10px #05a735;
    border-radius: 90px;
    
}
 
.home-img{
    height: 500px;
    margin-top: 70px;
    margin-left: 100px;
   
}


.home1{
    width: 40%px;
    height:500px;
    margin-left: 40px;
    margin-top: 50px;
    
}
.home2{
    width: 40%px;
    height:500px;
    margin-left: 40px;
    margin-top: 50px;
}    
.slogon{
    margin-left: 80px;
    margin-top: 100px;
    
    
}
.slogon-logo{

    margin-top: 10px;
    margin-left: 30px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    box-shadow:1px 1px 1px 2px #08AEEA;
    
}
.slogon1{
    font-family:cursive ;color: #05a735;
}

.gif{
    height: 10px;
    animation:alternate-reverse;
}

.underline{
    text-decoration: none;
    color: white;
    
}

.underline:hover{
    color: blue;
    text-decoration: underline;
}

.col-3-para{
    color: white;
    font-size: 20px;
}

.footer1{
    margin-top: 10px;
}

h4{
    margin-left: 10px;
}
